#hit {
    background-color: rgb(42, 119, 42);
}

#stand {
    background-color: rgb(48, 87, 196);
}
#reset{
    background-color: rgb(158, 34, 25);
}

button {
    border-radius: 12px;
    width: 128px;
    height: 40px;
}