:root {
    --text: #000000;
    --background: #d1e0f8;
    --primary: #0b28aa;
    --secondary: #f7f7fc;
    --accent: #073170;
}

/* * {
    border: 1px solid red;  
} */

body {
    color: var(--text);
    background: var(--background);
    font-family: "Gentium Book Plus";
}

.abutton {
    width: 1800px;
    height: 80px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
}

.hbutton {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
}

.image-border {
    padding: 4px 4px 0px;
    border-radius: 16px;
    background: var(--secondary);
    display: inline-block;
}

.flex1 {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

div.flex {
    justify-content: center;
}

nav.flex {
    justify-content: center;
}

p {
    max-width: 800px;
}

img {
    padding: 4px;
    border: 6px solid var(--primary);
    border-radius: 16px;
    background: var(--secondary);
}

/* audio {
    padding: 3px;
    border-radius: 16px;
    background: var(--accent);
    margin: 1em;
    margin: 20px;
    border: 2mm ridge var(--accent);
} */

/* .sweet {
    color: hsl(34, 96%, 20%);
    font-style: italic;
    font-weight: bold;
    text-decoration: rgb(223, 128, 5) wavy underline;
    display: inline-block;
    border-top: solid 1.80px rgb(223, 128, 5);
    line-height: 12px; */
/* } */

/* .fresh {
    color: rgb(4, 179, 91);
    font-size: small;
    font-weight: bold;
    font-style: italic;
    text-decoration: rgb(4, 179, 91) wavy underline;
} */